{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; background-size: cover;">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                      <div class="header-underline"></div>
                      {% if NEST_INDEX_HEADER_SUBTITLE %}
                      <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% if DEFAULT_PAGINATION %}    
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/{{ articles_page.url }}">{{ NEST_INDEX_CONTENT_TITLE }} {% if articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles_page.object_list %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% include 'pagination.html' %}
    {% else %}
    <div class="archive-container">
        <div class="container content archive">
            <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
            <dl class="dl-horizontal">
                {% for article in articles %}
                <dt>{{ article.locale_date}}</dt>
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>
    {% endif %}
{% endblock content %}
